.article {
  display: inline-flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  background: radial-gradient(100% 100% at 50% 0%, #dcce06 0.52%, #f21212 90.92%, #dcce06 100%);
  transform-origin: center;
  transition: transform .7s ease-in-out;
  box-shadow: var(--shadow);
  width: 220px;
  /* transition: rotate .5s ease-in-out; */
}

.picture {
  display: flex;
  position: relative;
  width: 100%;
  height: 200px;
}

.picture img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity .7s ease-in-out;
  position: absolute;
}

.img_back{
    opacity: 0;
}

.name {
  color: #fff;
  padding: 20px 0;
  margin: 0;
  text-align: center;
  font-family: Sarpanch;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  transition: transform .7s ease-in-out;
}

.container:hover .article{
    transform: rotateY(180deg);
}

.container:hover .name{
    transform: rotateY(180deg);
}

.container:hover .img_front{
    opacity: 0;
}

.container:hover .img_back{
    opacity: 1;
}

@media screen and (max-width: 800px) {
  .article{
    width: 170px;
  }

  .picture{
    height: 150px;
  }
  
}

@media screen and (max-width: 650px) {
  .article{
    width: 140px;
  }

  .picture{
    height: 120px;
  }
  
}

@media screen and (max-width: 500px) {

  .article{
    width: 100px;
  }

  .picture{
    height: 80px;
  }

}



