.main{
    display: flex;
    top:0;
    width: 100%;
    height: 100vh;
    /* background: url('/imagenes/fondo.svg') no-repeat left center fixed; */
    background: url('/imagenes/fondo4.jpeg') no-repeat left center fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.text{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.main a{
    text-transform: uppercase;
    color: #fff;
    font-size: 2rem;
    padding: 10px 20px;
    background-color: var(--rojo);
    text-decoration: none;
    transition: background-color .15s ease-in-out;
}

.main a:hover{
    background-color: var(--negro);
}

.h1 {
	font-size: 4rem;
    user-select: none;
    display: inline;
	font-family: Sarpanch;
	border-right: 0.15em solid var(--rojo); 
	width: 0; 
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow:clip; 
    color: #fff;
	animation: typing 3s steps(21) 1s 1 normal both;
}

@keyframes typing {
	from {
		width: 0; 
	}
	to {
		width: 100%;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}