@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Sarpanch&display=swap");
:root {
  --rojo: #f21212;
  --amarillo: #ff0;
  --negro: #202128;
  --height-header: 80px;
  --max-width: 1200px;
  --shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  scroll-padding-top: var(--height-header);
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 6px;
  }
}
